:root {
    border-style: border-box;
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 10vw;
    align-items: center;
    background-color: lightslategray;
    margin-bottom: 40px;
}

button {
    background-color: lightgray;
    border-radius: 4px;
    height: 5vw;
    width: 10vw;
}

button.active {
    border: 5px solid red;
    height: 10vw;
    transition: height 0.5s;

}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.title {
    border: 5px solid lightblue;
    border-radius: 40px;
    text-align: center;
    width: 80%;
}

.container {
    width: 60%;
    border: 4px solid lightblue;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.quote {
    font-style: italic;
}

.author {
    text-align: right;
    font-style: bold;
}